@charset "UTF-8";

@media Screen and (min-width: 768px){
    i#burguer{
        display: none;
    }
}
menu{
    display: block;
}
menu > ul>li{
    display: inline-block;
}
main{
    width: 435px;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 9px;
}
img{
    width: 90vw;
}