@charset "UTF-8";

@media Screen and (min-width: 768px){
    i#burguer{
        display: none;
    }
}
menu{
    display: block;
}
menu > ul>li{
    display: inline-block;
}
main{
    width: 440x;
    margin: auto;
    text-align: justify;
}
img{
    width: 90vw;
}